name: Démo packaging Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  # Nom de l'image: <emplacement du registre d'image de conteneur>/<nom du registre>/<nom de l'image>
  DOCKER_IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/demo-website

jobs:
  packaging:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Récupération du code source
        uses: actions/checkout@v6

      - name: Connexion au registre d'image de conteneur de Github
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
        
        # run: docker login ghcr.io -u $GITHUB_ACTOR -p ${{ secrets.GHCR_PAT_BIS }}

      - name: Packaging de l'application
        run: | 
          docker build -t $DOCKER_IMAGE_NAME:latest .
          docker build -t $DOCKER_IMAGE_NAME:$GITHUB_SHA .
      
      - name: Publication de l'image sur le GHCR
        run: docker push -a $DOCKER_IMAGE_NAME

  deployment:
    runs-on: ubuntu-latest
    needs: packaging

    steps:
      - name: Déploiement sur Azure
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            docker pull ${{ env.DOCKER_IMAGE_NAME }}:latest

            docker stop demo-website || true
            docker rm demo-website || true

            docker run -d \
              -p 80:80 \
              --name demo-website \
              --restart always \
              ${{ env.DOCKER_IMAGE_NAME }}:latest
