name: "Demo packaging Docker"

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  # Nom de l'image: <emplacement du registre d'image de conteneur>/<nom du registre>/<nom de l'image>
  DOCKER_IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/demo-website

jobs:
  packaging:
    runs-on: ubuntu-latest

  steps:
    - name: Récupération du code source
      uses: actions/checkout@v6

    - name: Connexion au registre d'image de conteneur de Github
      run: echo ${{ secrets.GHCR_PAT_BIS }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
      # run: docker login ghcr.io -u $GITHUB_ACTOR -p ${{ secrets.GHCR_PAT_BIS }}

    - name: Packaging de l'application
      run: | 
        docker build -t $DOCKER_IMAGE_NAME:latest .
        docker build -t $DOCKER_IMAGE_NAME:$GITHUB_SHA .
    
    - name: Publication de l'image sur le GHCR
      run: docker push -a $DOCKER_IMAGE_NAME

